@model AdvertsWebApp.Models.Advert

@if(Model == null){
 <h1> Sludinājums nav atrasts</h1>
}
else
{
    <h2>Sludinājums</h2>
    <h3>@Model.Name</h3>

    <div>
        <label>Cena: </label>
        <span>@Model.Price</span>
    </div>

    <div>
        <label>Izveidošanas laiks: </label>
        <span>@Model.CreationTime</span>
    </div>

    <p>@Model.AdvertText</p>

    <!--
    <a href="Home/EditAdvert?advertId=@Model.AdvertId">rediģēt sludinājumu</a>
    -->
    @Html.ActionLink("rediģēt sludinājumu", "EditAdvert", "Home", new { advertId = Model.AdvertId }, null)
}

@Html.ActionLink("atgriezties pie sludinājumiem", "Index")